*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    background-color: #D9DBD6;
    height: 100vh;
    width: 100%;
}
.green-background {
    background-color: #009688;
    height: 150px;
}
#boolzap {
    width: 80%;
    height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}
.left-header, .left-main {
    width: 35%;
    border-right: 1px solid #D9DBD6;
}
.right-header, .right-main {
    width: 65%;
}
img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
ul {
    list-style: none;
}

/* #region || HEADER ||*/

header {
    height: 70px;
    display: flex;
    width: 100%;
    background-color: #EAEAEA;
}
.left-header, .right-header {
    display: flex;
    justify-content: space-between;
}
.user, .menu {
    display: flex;
    align-items: center;
    margin: 10px;
}
.user p {
    color: #707172;
}
.menu{
    gap: 20px;
    margin-right: 25px;
    color: #B1B1B1;
    font-size: 1.4rem;
}
/* #endregion HEADER*/

/* #region || MAIN ||*/
main {
    height: calc(100% - 70px);
}
.left-main, .right-main {
    height: 100%;
}
main {
    display: flex;
}

/* #region LEFT MAIN*/


/* #region || NOTIFICHE SETTING SECTION ||*/
.notifiche-setting {
    height: 80px;
    display: flex;
    background-color: #8EDAFC;
    padding: 10px;
    align-items: center;
    font-size: 1rem;
    gap: 8px;
}
.notifiche-setting a {
    color: #5e5c5c;
}
.notifiche-setting i {
    background-color: white;
    border-radius: 50%;
    color: #8EDAFC;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-size: 1.5rem;
}
/* #endregion NOTIFICHE SETTING SECTION*/

/* #region || SEARCH BAR SECTION ||*/
.search-bar {
    height: 60px;
    padding: 5px;
    background-color: #EAEAEA;
}
.search-container {
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 5px;
    color: #B6B9BB;
    font-size: 1rem;
    display: flex;
    align-items: center;
}
.search-container input {
    color: #707172;
    margin-left: 10px;
    border: none;
    width: 100%;
}
.search-container input:focus-visible {
    outline: none;
}
.search-container i {
    margin:  0 25px;
}
/* #endregion SEARCH BAR SECTION */

/* #region || CONTACT LIST ||*/
.contact-list-container {
    background-color: white;
    height: calc(100% - 140px);
    overflow-y: scroll;
}
.contact {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    padding: 8px 5px;
}
.contact img {
    margin-left: 10px;
    width: 60px;
    height: 60px;
}
.contact-text {
    flex-grow: 2;
}
.contact-text p {
    color: #C0C2C2;
}
.time {
    color: #C0C2C2;
}
/* #endregion CONTACT LIST*/

/* #endregion LEFT MAIN*/

/* #region || RIGHT MAIN ||*/

.right-main {
    background-image: url("../img/mine.jpg");
}

/* #region || MESSAGES SECTION ||*/
.messages /* SECTION */{
    height: calc(100% - 120px);
}

.message-container {
    width: 80%;
    margin: 50px auto;
}
#message-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.message {
    width: 350px;
    border-radius: 15px;
    padding: 15px;
    position: relative;
}
.sent {
    background-color: #D5F9BA;
    align-self: flex-end;
}
.received {
    background-color: white;

}
.write-container {
    height: 70px;
    background-color: #F3EEEA;
}
.write-message {
    background-color: white;
    border: none;
}
.messages .time {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 0.7rem\;
}
/* #endregion MESSAGES SECTION*/

.write-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    color: #6B7376;
}
.write-container i {
    font-size: 1.5rem;
}
.write-message {
    width: 83%;
    height: 90%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.write-message:focus-visible {
    outline: none;
}
/* #endregion RIGHT MAIN*/

/* #endregion MAIN*/

.active {
    background-color: #E9EBEB;
    pointer-events: none;
}
